<nav class="uk-navbar-container" uk-sticky>
    <div class="uk-container">
        <div uk-navbar>
            <a href="" class="uk-navbar-item uk-logo uk-visible@l"><img src="assets/ardor.png" alt=""></a>
            <div class="uk-navbar-center uk-visible@m">
                <ul class="uk-navbar-nav" >
                    <li><a href="#">sobre nós</a></li>
                    <li><a href="#">o que vai aprender</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <button class="uk-button uk-button-primary uk-border-rounded" routerLink="/form">Solicitar</button>
            </div>
        </div>

        <a href="" class="uk-navbar-toggle uk-hidden@l" uk-toggle="target: #offcanvas"  data-uk-navbar-toggle-icon></a>
    </div>
</nav>

<a href=""  uk-toggle></a>
<div id="offcanvas" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <ul class="uk-navbar-nav">
            <li><a href="#">sbre nós</a></li>
            <li><a href="#">o que vai aprender</a></li>
        </ul>
    </div>
</div>