<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>

<hr class="uk-hr-large uk-margin-large-top">
<div class="uk-card-footer uk-card-body">
    <div class="uk-container uk-child-width-1-2 ">
        <div class="uk-card">
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-text-bold">Onde nos encontrar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias placeat sequi, officiis accusantium repudiandae, consequatur tempora minima architecto ad earum eaque ab magnam! Enim reiciendis voluptatum modi accusamus, recusandae dicta.</p>
            </div>
            <div class="uk-card-footer">
                <div class="uk-container uk-margin-remove-top">
                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter; ratio: 2"></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: facebook; ratio: 2"></a>
                    <a href="" class="uk-icon-button" uk-icon="icon: youtube; ratio:2"></a>
                </div>
            </div>
        </div>
    </div>
</div>