<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
    <div class="uk-section-default">
        <div class="uk-section uk-background-cover" style="background-image: url(assets/background.png);" uk-height-viewport="min-height: 300">
            <div class="uk-container uk-container-large ">
                <div class="uk-card uk-card-default uk-card-body uk-hight-large">
                    <div uk-slideshow>
                        <ul class="uk-slideshow-items " >
                            <li>
                                <form class="uk-form">
                                    <fieldset class="uk-fieldset uk-margin-bottom">
                                        <h3 class="uk-text-primary uk-text-large uk-text-bold uk-text-center uk-margin-top">Solicite aqui a sua incricao para o curso</h3>
                                        <div class="uk-margin-top">
                                            <label class="uk-form-label uk-text-large uk-margin-bottom" for="nome">Nome completo</label>
                                            <input type="text" class="uk-input" id="nome" placeholder="Nome Completo" aria-label="Input">
                                        </div>
                                        <div class="uk-margin-top">
                                            <label class="uk-form-label uk-text-large " for="email">email</label>
                                            <input type="text" class="uk-input " id="email" placeholder="e-mail" aria-label="Input">
                                        </div>
                                        <div class="uk-margin-top">
                                            <label class="uk-form-label uk-text-large " for="telefone">Telefone</label>
                                            <input type="text" class="uk-input" placeholder="Telefone" aria-label="Input">
                                        </div>
                                        <div class="uk-margin-top">
                                            <label class="uk-text-large">Tens algum conhecimento em:</label><br>
                                            <div class="uk-margin uk-grid-large uk-child-width-auto uk-grid uk-text-large">
                                                <label for=""> <input type="checkbox" class="uk-checkbox" name="" id=""> Angular</label>
                                                <label for=""> <input type="checkbox" class="uk-checkbox" name="" id=""> Typescripts</label>
                                                <label for=""> <input type="checkbox" class="uk-checkbox" name="" id=""> HTML e CSS</label>
                                            </div>
                                            
                                        </div>
                                        <div class="uk-margin-top">
                                            <label for="" class="uk-text-large"> Por que você deseja fazer o curso de Capacitação em Angular?</label>
                                            <textarea class="uk-textarea uk-height-small" name="" id="" cols="30" rows="10"></textarea>
                                        </div>
                                        <a class="uk-position-bottom-right uk-position-small " href="#" uk-slidenav-next uk-slideshow-item="slideX"></a>
                                    </fieldset>
                                </form>
                            </li>
                            <li>
                                <form class="uk-form">
                                    <fieldset class="uk-fieldset uk-margin-bottom">
                                        <div class="uk-margin-top">
                                            <label for="" class="uk-text-large"> Quais são suas expectativas em relação ao curso?</label>
                                            <textarea class="uk-textarea uk-height-small" name="" id="" cols="30" rows="10"></textarea>
                                        </div>
                                        <a class="uk-position-bottom-left uk-position-small " href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                        <button type="button" class="uk-button uk-position-bottom-right uk-button-primary">Enviar</button>
                                        <p class="uk-text-large">Seus dados pessoais (e-mail, nome pessoal e número de celular) são usados apenas para fins de comunicação e não são compartilhados com terceiros <a href="" routerLink="/temos e condições" class="uk-text-muted">saiba mais</a></p>
                                    </fieldset>
                                    
                                </form>
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

